<!DOCTYPE html>
<html>
<head>
  <title>Guessing Game</title>
</head>

<body style="border-style:solid; padding-top: 10px; padding-bottom: 50px; margin-left: 500px; margin-right: 500px;">
    <h1><center>Guessing Game</center></h1>

    <% if (stage == 0) { %>
        <form action="/start" method="POST">
            <center><button class="button" type="submit">Start Game</button></center>
          </form>
    <%} else if (stage == 1) {%>
        <center>
            <div>
                <h2><%= guessing %></h2>
            </div>
        </center>
        <center>
            <form action="/guess" method="POST">
            <div>
                <button name="alphabet" type="submit" value="A">A</button>
                <button name="alphabet" type="submit" value="B">B</button>
                <button name="alphabet" type="submit" value="C">C</button>
                <button name="alphabet" type="submit" value="D">D</button>
            </div>
            </form>
        </center>
        <h1></h1>
        <center>
            <form action="/finish" method="POST">
            <div>
                <button type="submit">Finish</button>
            </div>
            </form>
        </center>
        <left>
            <div style="padding-left: 20px; padding-top: 10px; padding-right: 50px;">
                <h3 style="float: left">Fail: <%= fail %></h3>
                <h3 style="float: right">Answer: <%= answer%></h3>
            </div>
        </left>
    <%} else if (stage == 2) {%>
        <center><h2>END!</h2></center>
        <center><h3>The answer is: <%= answer%></h3></center>
        <center><h3>Your final score: <%= score %>/20</h3></center>
        <form action="/home" method="POST">
            <div>
                <center><button type="submit">Finish</button></center>
            </div>
        </form>
    <%}
    %>


    

</body>

</html>
